   
#container{
    margin:0;
    padding:30px;
    box-sizing: border-box;
    background-color: #9862df;
  }

  
  
  .popup-wrap{
    background-color:rgba(0,0,0,.8);
    justify-content:center;
    align-items:center;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:none;
    padding:15px;
    z-index: 1000;
  }
  .popup{
    width:100%;
    max-width:1000px;
    height:100%;
    max-height:800px;
    background-color:#ffffff;
    border-radius:10px;
    overflow:hidden;
    background-color:#FF7F50;
    box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3);
  }
  
  .popup-body{
    width:100%;
    background-color:#ffffff;
  }
  
  .closeArea{
    display: inline;
    float: right;
    padding-right: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
    color: white;
    font-size: 38px;
  }
  
  #testTitle{
  text-align: center;
  font-size: 50px;
  padding-top: 40px;
  color : black;
  }     
  
  .testMainMargin{
    text-align: center;
    font-size: 25px;
    padding-top: 40px;
    color : black;
  }
  
  #testWrap{
  background-color: whitesmoke;
  margin-top:70px;
  text-align:center;
  align-items: center;
  height: 650px;
  }
  
  #testImg{
  max-width: 40%;
  
  }
  #testStart{
    align:center;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color : black;
    
    
  }
  
  #testQNA{
  display:none;
  }
  
  
  
  #testResult{
  display:none;
  }
  
  .resultImg{
  max-width: 40%;
  }
  
  .searchLink{
  text-align:center;
  width:150px;
  height:50px;
  border-radius:20px;
  background-color: 	#FF8C00;
  line-height:50px;
  cursor:pointer;
  margin:auto;
  margin-top:15px;
  border:0px;
  }
  
  #reimg{
  margin-top:5px;
  }
  
  
  .qBox{
  border-radius:20px;
  height:100px;
  width:100%;
  color:gray;
  text-align :center;
  font-size: 30px;
  padding-top: 50px;	
  }
  
  .answerList{
  border-radius: 20px;
  border: 1px, solid, black;
  background-color: white;
  display:block;
  width:62%;
  margin:50px;
  padding:15px;
  margin-left: 200px;
  }
  
  .answerBox{
  margin-top:100px;
  }
  .status{
  height:20px;
  width:80%;
  background-color: white;
  border:1.5px,solid,gray;
  border-radius: 20px;
  margin: auto;
  padding-top: 30px;
  }
  .statusBar{
  height:100%;
  background-color: #FF7F50;
  }